
/*font*/
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../font/bebasneue-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Style Utama */

body {
    font: 18px/36px 'bebas_neuebold', 'Arial narrow', arial,  sans-serif;
    background-color: #ddd;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 5px white;
}

.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0, 0.3);
    border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    /*overflow: hidden;*/
    border: 5px solid #666;
    float: left;
    margin-right: 20px;
    position: relative;
}

.gallery li,
.gallery li img,
.gallery li span {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transition: .3s ease-out;
    transform: scale(0) rotate(0);
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

/*overlay*/
.overlay {
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    transition: .8s;
    text-align: center;
    padding-top: 150px;
    z-index: 9999;
}

.overlay:target {
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.overlay:target img {
    animation: ZoomAndFade 0.5s ;
}

.overlay .close {
   
    font-size: 25px;
    color: white;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -30px;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 20px;
    padding: 5px;
}

.overlay:target .close {
    animation: closeanimation 1sH ;
}

/*animasi*/

@keyframes ZoomAndFade {
    0% {
        transform: scale(0);
        opacity: 0;

    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes closeanimation {
    0% {
        opacity: 0;
        top: 40px;
    }

    100% {
        opacity: 1;
        top: 60;
    }
}

/*clear*/

.clear {
    clear: both;
}
